.profile {
  display: flex;
}

.profile__clothing-items {
  flex: 1;
  margin-left: 116px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    padding: 0 16px;
  }

  .profile__clothing-items {
    margin-left: 0;
    margin-top: 0;
  }
}
