.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-width: 1360px;
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  position: absolute;
  margin: 0;
  top: 20px;
  left: 16px;
  color: #ffffff;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .weather-card {
    height: 70px;
    margin: 0;
    width: 100%;
  }

  .weather-card__temp {
    font-size: 32px;
    line-height: 36px;
    top: 17px;
    left: 16px;
  }
}
