.cards {
  min-width: 1360px;
}

.cards__list {
  max-width: 1360px;
  display: grid;
  grid-template-columns: repeat(4, 325px);
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.cards__text {
  font-weight: 700;

  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  color: #000000;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .cards__text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px 16px 20px;
    padding: 0 16px;
  }

  .cards__list {
    justify-content: center;
    gap: 16px;
  }
}
