.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  margin-top: 171px;
  padding: 20px 0;
}

.footer__container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 14px;
  color: #000000;
}

.footer__year {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 14px;
  color: #000000;
}
