.clothes-section__add-btn {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 0;

  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.clothes-section__header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 35px;
  margin-bottom: 20px;
}

.clothes-section__title {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.clothes-section__cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .clothes-section__header-row {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
  }

  .clothes-section__cards__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 15px;
  }
}
